<% provide :title, t(".title") %>
<div id="static-page--about">
  <section id="top-video">
    <div class="container">
      <div style="padding-top: 56.25%; position: relative; overflow: hidden;">
        <iframe allowfullscreen=""
                src="https://onelineplayer.com/player.html?autoplay=false&amp;loop=true&amp;autopause=false&amp;muted=false&amp;url=http%3A%2F%2Fkindmate.net%2Fvideos%2FSequence19.mp4&amp;poster=https%3A%2F%2Fkindmate.net%2Fimages%2Fthumb.png&amp;time=true&amp;progressBar=true&amp;playButton=true&amp;overlay=true&amp;muteButton=true&amp;fullscreenButton=true&amp;style=dark&amp;logo=false&amp;quality=1080p"
                style="position: absolute; height: 100%; width: 100%; left: 0; top: 0;"
                frameborder="0">
        </iframe>
      </div>
    </div>
  </section>

  <%= render "introduce_section" %>
</div>
