<% provide :title, t(".title") %>
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <%= render "static_pages/contents/terms-of-use-content-#{get_locale}" %>
    </div>
  </div>
</div>
