#campaigns--show {
  #campaign-content {
    height: auto;
    max-height: 600px;
    overflow: hidden;
    position: relative;
    padding-bottom: 2.5rem;

    &:not(.full-view):after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      height: 100px;
      width: 100%;
      background: linear-gradient(transparent 40%, rgba(255, 255, 255, .8) 70%, rgba(255, 255, 255, .9) 87%, rgba(255, 255, 255, 1));
    }

    &.full-view {
      max-height: unset;
      overflow: visible;
    }

    img, iframe {
      width: 100%;
    }

    iframe {
      height: auto;
      min-height: 400px;
    }
  }

  .toggle-content {
    position: relative;
    background-color: transparent;
    transform: translate(0, -50%);
    text-align: center;

    .btn {
      position: relative;
      border-radius: 2rem;
    }

    &:before {
      position: absolute;
      content: '';
      top: 50%;
      left: 0;
      right: 0;
      border-top: 1px solid $primary !important;
    }
  }

  .new_comment .form-control {
    @extend .bg-primary-more-light;
  }
}
