#static-page--home {
  .list-categories {
    overflow-x: auto;

    li {
      margin-left: 1rem;
    }

    .btn-category {
      background-color: lighten($primary, 40);
      font-size: .85em;
    }
  }
}
