$common-light-primary: lighten($primary, 40);
$common-more-light-primary: lighten($primary, 42);
$common-shadow-primary: rgba(126, 142, 177, 0.2);
$color-facebook: #4267B2;
$color-google: #DB4437;
$color-twitter: #1DA1F2;
$color-github: #24292e;
