/* Global tags */
a {
  color: black;

  &:hover {
    text-decoration: none;
  }
}

form {
  .form-control,
  .form-control[readonly] {
    background-color: $gray-100;
    border-color: $gray-200;
  }
}

label {
  font-weight: 500;
}

.input-group-append .input-group-text,
.input-group-prepend .input-group-text {
  background-color: $gray-100;
  border-color: $gray-200;
}

#cke_campaign_content {
  border-radius: $border-radius;
  border-color: $gray-200;
  overflow: hidden;
}

.no-data-image {
  width: 300px;
  height: auto;
  max-width: 85%;
}

.progress {
  height: 0.6rem;
}

img.embed-responsive-item {
  object-fit: cover;
}

.w-auto {
  width: auto !important;
}

@for $i from 1 through 100 {
  .w-#{$i} {
    width: $i * 1% !important;
  }
}

.word-break-all {
  word-break: break-all !important;
}

/* SOCIAL BUTTONS */

.btn-facebook {
  background-color: $color-facebook;
  color: white;

  &:hover {
    color: white;
    background-color: darken($color-facebook, 8);
  }
}

.btn-google {
  background-color: $color-google;
  color: white;

  &:hover {
    color: white;
    background-color: darken($color-google, 8);
  }
}

.btn-twitter {
  background-color: $color-twitter;
  color: white;

  &:hover {
    color: white;
    background-color: darken($color-twitter, 8);
  }
}

.btn-github {
  background-color: $color-github;
  color: white;

  &:hover {
    color: white;
    background-color: darken($color-github, 8);
  }
}

/* Fonts */
.font-weight-medium {
  font-weight: 500;
}

.font-weight-semibold {
  font-weight: 600;
}

.bg-primary-light {
  background-color: $common-light-primary
}

.bg-primary-more-light {
  background-color: $common-more-light-primary;
}

.btn-static-page {
  border-radius: 1.25rem;
  font-weight: 500;
  padding: .5rem 1.25rem;
}

.card-shadow {
  border: none;
  border-radius: 0.5rem;
  box-shadow: $common-shadow;
}

/* Forms */
#error_explanation {
  color: $danger;
  margin: 10px 0 25px 0;

  ul {
    color: $danger;
  }
}

.field_with_errors {
  flex: 1 1 auto;

  .form-control {
    color: $danger;
    border-color: $danger !important;
    outline-color: $danger;

    &:focus, &:focus-within {
      border-color: $danger;
      box-shadow: $danger-box-shadow;
    }
  }

  & ~ .input-group-append,
  & ~ .input-group-prepend {
    border-radius: 0 $common-border-radius $common-border-radius 0;
    border: 1px solid $danger
  }
}

.paginator-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Gravatar */
.gravatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: $common-shadow;
  object-fit: cover;
}

/* Card user info */
.card-user-info {
  .card-body {
    position: relative;
    padding: calc(1.5rem + 40px) 1.5rem 1.5rem 1.5rem;

    .user-avatar {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);

      .gravatar {
        width: 80px;
        height: 80px;
      }

      #user_avatar_toggle {
        position: absolute;
        top: 0;
        left: 0;

        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;

        background-color: rgba(101, 74, 210, .6);
        opacity: 0;
        cursor: pointer;
        transition: $transition-base;

        text-align: center;
        line-height: 80px;
        color: white;
        font-size: 1.25em;
      }

      &:hover {
        #user_avatar_toggle {
          opacity: 1;
        }
      }
    }

    .user-info {
      text-align: center;

      &--name {
        font-weight: bold;
      }

      &--address,
      &--email,
      &--phone {
        display: flex;
        align-items: center;
        justify-content: center;

        color: $text-muted;
        margin-bottom: 5px;

        span {
          margin-left: 10px;
        }
      }
    }

    .btn-edit-user {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);

      width: 90%;
      box-shadow: $common-shadow;
      border-radius: 1.25rem;
      font-weight: 500;
    }
  }
}

/* Campaign content editor */
.field_with_errors #cke_campaign_content {
  border: 1px solid $danger;
  transition: $transition-base;

  .cke_contents {
    &:focus, &:focus-within {
      box-shadow: $danger-box-shadow;
    }
  }
}

/* Campaign image upload input */
.upload-img-input {
  position: relative;
  width: 100%;
  height: auto;

  border-radius: $border-radius;
  box-shadow: $box-shadow;
  cursor: pointer;

  #campaign-image {
    border-radius: $border-radius;
  }

  .upload-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 100px;
    height: auto;
    max-width: 25%;

    border-radius: 50%;
    box-shadow: $box-shadow;

    transition: $transition-base;
    filter: grayscale(100);
    opacity: .65;
  }

  &:hover {
    .upload-btn {
      width: 110px;
      max-width: 26.5%;

      filter: grayscale(0);
      opacity: 1;
    }
  }
}

.field_with_errors {
  .upload-img-input {
    #campaign-image {
      border: 1px solid $danger;
      outline-color: $danger;
      transition: $transition-base;
    }

    &:hover #campaign-image {
      box-shadow: $danger-box-shadow;
    }
  }
}

/* Form campaign comment */
.form-comment {
  margin-bottom: 0;
  position: relative;
  overflow: hidden;

  .form-control {
    transition: $transition-base;
    padding-right: calc(0.75rem + 50px);
  }

  .submit-comment {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    transition: $transition-base;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .btn {
      flex: 1 1;
      width: 100%;
      border-radius: 0;

      &:first-child {
        border-top-right-radius: 0.2rem;
      }

      &:last-child {
        border-bottom-right-radius: 0.2rem;
      }
    }
  }
}

/* Toaster */
#toast-container {
  .toast {
    border: none;
    transition: $transition-base;
    border-radius: $border-radius;
    opacity: 1;

    &:hover {
      box-shadow: $box-shadow;
    }
  }

  & > div {
    box-shadow: $common-shadow;
  }

  & .toast-error {
    background-color: $danger;
  }

  & .toast-success {
    background-color: $success;
  }

  & .toast-info {
    background-color: $info;
  }

  & .toast-warning {
    background-color: $warning;
  }
}

/* Custom bootstrap table */
.table {
  th, td {
    padding: 1rem;
    vertical-align: top;
    border-top: 1px solid $common-light-primary;
  }

  thead th {
    vertical-align: bottom;
    border-bottom: 2px solid $common-light-primary;
  }

  tbody + tbody {
    border-top: 2px solid $common-light-primary;
  }

  .table {
    background-color: $common-light-primary;
  }
}

.table .thead-light th {
  font-size: .9em;
  color: #8173b8;
  border-color: #f0f0f6;
  background-color: #f0f0f6;
}

.card .table {
  margin-bottom: 0;
}

.card .table td,
.card .table th {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

/* Custom bootstrap dropdown */
.dropdown-menu {
  box-shadow: $box-shadow;
  border: none;

  .dropdown-item {
    font-weight: 500;
    font-size: .85rem;
    padding: .5rem 1rem;

    &:hover {
      background-color: $common-light-primary;
    }

    &:focus,
    &:focus-within{
      background-color: $primary;
    }
  }
}

.common-icon-btn {
  width: 32px;
  height: 32px;
  cursor: pointer;
  color: $gray-600;
  border-radius: $border-radius;

  i {
    line-height: 32px;
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: $box-shadow;
    color: black;
  }

  &:active {
    transform: translateY(-1px);
    box-shadow: $common-shadow;
  }
}

/* Custom nav pills */
.kindmate-nav-pills {
  .nav-item {
    .nav-link {
      display: flex;
      align-items: center;

      font-weight: 500;
      transition: $transition-base;
      border-bottom: 1px solid $primary;

      border-radius: 0;
      border-top-right-radius: 0.25rem;
      border-top-left-radius: 0.25rem;

      &:not(.active):hover {
        background-color: $gray-200;
      }

      .badge {
        margin-left: 5px;
        display: none;
      }

      &.active {
        .badge {
          display: initial;
        }
      }
    }

    &:first-child .nav-link.active {
      border-bottom-left-radius: 0.25rem;
    }

    &:last-child .nav-link.active {
      border-bottom-right-radius: 0.25rem;
    }
  }
}

/* Notifications */
.no-notifications-text {
  display: block;
  width: 100%;
  padding: 5px;
  text-align: center;
  color: $text-muted;
  font-size: .9em;
}

/* Google maps */
#formUserMap {
  @include transition($transition-base);

  #userMapContainer {
    height: 350px;
    @include transition($transition-base);

    #userAddressMap {
      min-height: 100%;
      border-radius: $border-radius;
    }
  }

  &.hide {
    margin: 0;

    #userMapContainer {
      height: 0;
    }
  }
}
