<h2 class="mb-4 font-weight-bold">Câu hỏi thường gặp</h2>
<h5 class="mb-2 mt-3 font-weight-semibold">1. Kindmate là gì?</h5>
<p>Kindmate là ứng dụng khởi tạo và quản lý hoạt động gây quỹ do Wake It Up phát triển. Ứng dụng này có hai phiên
  bản, một dành cho các hoạt động gây quỹ đơn lẻ và một dành cho các tổ chức gây quỹ thường xuyên.</p>
<h5 class="mb-2 mt-3 font-weight-semibold">2. Những ai có thể khởi tạo dự án trên Kindmate?</h5>
<p>Bất cứ ai cũng có thể sử dụng Kindmate để khởi tạo dự án gây quỹ của riêng mình, bao gồm cả các cá nhân, câu
  lạc bộ sinh viên hay tổ chức phi chính phủ.</p>
<h5 class="mb-2 mt-3 font-weight-semibold">3. Có phải Kindmate sẽ xem xét dự án trước khi khởi chạy?</h5>
<p>Đúng vậy, Kindmate cần đảm bảo các chiến dịch được đăng trên Kindmate không vi phạm các nguyên tắc cơ bản của
  chúng tôi. Bao gồm các nguyên tắc: không vi phạm bản quyền; không xâm phạm quyền trẻ em, quyền động vật;
  không xúc phạm thân thể và danh dự của người khác; bảo vệ môi trường…</p>
<p>(Chi tiết xem tại <%= link_to "Điều khoản sử dụng", terms_of_use_path, class: "text-primary font-weight-bold" %>)</p>
<h5 class="mb-2 mt-3 font-weight-semibold">4. Thời gian duyệt hoạt động sẽ kéo dài bao lâu?</h5>
<p>Các hoạt động được đăng tải trên Kindmate sẽ mất tối đa 12 tiếng cho quá trình duyệt thông tin. Sau đó chúng
  tôi sẽ email lại cho cá nhân/đơn vị khởi tạo về tình trạng của chiến dịch.</p>
<h5 class="mb-2 mt-3 font-weight-semibold">5. Kindmate có lấy phí không?</h5>
<p>Kindmate miễn phí khởi tạo và duy trì đối với tất cả chiến dịch, chỉ tính phí trên các dịch vụ hỗ trợ chuyên
  sâu và các yêu cầu đặc biệt của chủ chiến dịch.</p>
<p>Hoạt động của Kindmate đang được duy trì dựa trên sự đóng góp tự nguyện của những người ủng hộ.</p>
<h5 class="mb-2 mt-3 font-weight-semibold">6. Điều gì xảy ra nếu tôi không đạt được mục tiêu gây quỹ như dự định?</h5>
<p>Bạn tự chịu trách nhiệm với chiến dịch gây quỹ của mình và với các cam kết đã đưa ra. Bạn có thể hoàn tiền cho
  người ủng hộ theo danh sách mà Kindmate cung cấp, hoặc đưa ra một kế hoạch hành động mới với số tiền đã có.</p>
<h5 class="mb-2 mt-3 font-weight-semibold">7. Khi nào thì tôi nhận được số tiền quyên góp của mình?</h5>
<p>Kindmate sẽ giải ngân cho chiến dịch trong vòng 2 ngày làm việc kể từ khi chiến dịch hết thời hạn gây quỹ. Các
  trường hợp gây quỹ khẩn cấp như cứu trợ thiên tai hoặc y tế sẽ được cân nhắc giải ngân sớm hơn.</p>
<p>Tùy theo hình thức chuyển tiền, tiền ủng hộ sẽ chuyển về tài khoản bạn đã đăng ký với Kindmate sau 1-2 ngày kể
  từ khi giải ngân.</p>
<h5 class="mb-2 mt-3 font-weight-semibold">8. Làm sao để tôi kết thúc chiến dịch của mình</h5>
<p>Trong trường hợp bạn muốn dừng hoạt động gây quỹ của mình, bạn nên liên lạc với nhân viên chăm sóc của chúng
  tôi hoặc liên lạc trực tiếp với đội ngũ kỹ thuật qua email kythuat@wakeitup.net</p>
<h5 class="mb-2 mt-3 font-weight-semibold">9. Tôi cần đáp ứng điều kiện gì để có thể khởi tạo chiến dịch?</h5>
<ul>
  <li>
    <p>Tổ chức cần có danh nghĩa pháp nhân hoặc có đại diện là công dân Việt Nam đủ 18 tuổi</p>
  </li>
  <li>
    <p>Nội dung gây quỹ không vi phạm Điều khoản sử dụng của chúng tôi</p>
  </li>
  <li>Một tài khoản ngân hàng hoặc tài khoản Paypal.</li>
</ul>
<h5 class="mb-2 mt-3 font-weight-semibold">10. Chức năng "tự động cập nhật giao dịch" là gì</h5>
<p>Kindmate cho phép cập nhật tự động tất cả các khoản đóng góp được chuyển đến chiến dịch của bạn theo thời gian
  thực, bao gồm cả các khoản tiền chuyển trực tiếp qua ngân hàng, qua các cổng thanh toán và qua phương thức
  thu tiền tại nhà. Điều này đảm bảo tính cập nhật và minh bạch của chiến dịch, giúp người ủng hộ tin tưởng
  vào dự án.</p>
<p>Nếu các khoản đóng góp bạn nhận được không qua cồng thanh toán của Kìndmate, bạn sẽ phải cập nhật các khoản đóng
  góp bằng phương pháp thủ công. Kindmate không thể đảm bảo tính chính xác của các khoản đóng góp, chúng tôi
  sẽ thông báo với người dùng về việc này trên trang gây quỹ.</p>
