<h2 class="mb-4 font-weight-bold ">Frequently Asked Questions</h2>
<h5 class="mb-2 mt-3 font-weight-semibold">1. What is Kindmate?</h5>
<p>Kindmate is an app to create and manage fundraising activities developed by Wake It Up. This application has two
  sessions one for individual fundraising activities and one for regular fundraising organizations.</p>
<h5 class="mb-2 mt-3 font-weight-semibold">2. Who can start a project on Kindmate?</h5>
<p>Anyone can use Kindmate to launch their own fundraising projects, including individuals, student clubs or
  non-governmental organizations.</p>
<h5 class="mb-2 mt-3 font-weight-semibold">3. Will Kindmate review the project before launching?</h5>
<p>That's right, Kindmate needs to make sure the campaigns posted on Kindmate don't violate the fundamentals of
  we. Includes the following principles: no copyright infringement; do not infringe on children's and animal rights;
  don't offend other people's bodies and honor; environmental protection ...</p>
<p>(See details at <%= link_to "Terms of use", terms_of_use_path, class: "text-primary font-weight-bold" %>)</p>
<h5 class="mb-2 mt-3 font-weight-semibold">4. How long does the browsing time take?</h5>
<p>Activities posted on Kindmate will take up to 12 hours for the information browsing process. Then them
  I will email back the individual / originator regarding the status of the campaign.</p>
<h5 class="mb-2 mt-3 font-weight-semibold">5. Does Kindmate charge a fee?</h5>
<p>Kindmate is free to create and maintain for all campaigns, only charges for specialized support services
  and the campaign owner's special requirements.</p>
<p>Kindmate's activities are being maintained based on the voluntary contributions of supporters.</p>
<h5 class="mb-2 mt-3 font-weight-semibold">6. What happens if I do not reach my goal of raising funds?</h5>
<p>You are solely responsible for your fundraising campaign and for the commitments made. You can refund for
  supporters on the list provided by Kindmate, or devise a new action plan for the money available.</p>
<h5 class="mb-2 mt-3 font-weight-semibold">7. When will I receive my donation?</h5>
<p>Kindmate will disburse the campaign within 2 business days of the end of the fundraising period. The
  Emergency fundraisers such as disaster relief or health care will be considered for disbursement sooner.</p>
<p>Depending on the form of money transfer, donations will be transferred to the account you have registered with
  Kindmate after 1-2 days from
  since disbursement.</p>
<h5 class="mb-2 mt-3 font-weight-semibold">8. How do I end my campaign</h5>
<p>In case you want to stop your fundraising activities, you should contact their caregivers
  me or contact the technical team directly via kythuat@wakeitup.net</p>
<h5 class="mb-2 mt-3 font-weight-semibold">9. What conditions do I need to be able to initialize a campaign?</h5>
<ul>
  <li>
    <p>The organization needs to have the name of a legal entity or be represented by a Vietnamese citizen who is full
      18 years old</p>
  </li>
  <li>
    <p>The solicitation of contents does not violate our Terms of Use</p>
  </li>
  <li>A bank account or Paypal account.</li>
</ul>
<h5 class="mb-2 mt-3 font-weight-semibold">10. What is the "automatic update transaction " function</h5>
<p>Kindmate allows automatic updates of all donations transferred to your campaign over time
  actually, including funds transferred directly via banks, through payment gateways, and via methods
  collect money at home. This ensures the updates and transparency of the campaign, giving supporters confidence
  into the project.</p>
<p>If the donations you receive are not through the payment community of Kyndmate, you will have to update your
  contributions. Manual contribution. Kindmate cannot guarantee the accuracy of our contributions
  will notify users about this on the fundraising page.</p>
