<h2 class="mb-4 font-weight-bold">Pricing</h2>
<h5 class="mt-2 mb-3 font-weight-semibold">Cost to campaign owner</h5>
<p>Kindmate is free to create and maintain for all campaigns, only charges for specialized support services
  and the campaign owner's special requirements.</p>
<p>Kindmate's activities are being maintained based on the voluntary contributions of supporters.</p>
<h5 class="mt-2 mb-3 font-weight-semibold">Cost of support</h5>
<p>When using Kindmate to raise funds, supporters send support money through 1 of 3 methods:
  (1) Bank transfer (2) COD (3) Visa / Master Card with the following costs:</p>
<ul>
  <li>Bank transfer: Kindmate does not charge supporters' fees, the bank transaction fee is
    deducted depending on bank type.
  </li>
  <li>COD: Supporters enter the address, delivery staff to bill and collect money at home. The delivery party took.
    The fee is VND 15,000 / support.
  </li>
  <li>Visa / Master Card: Backers are transferred to Wepay electronic payment gateway, suitable for card transactions
    Domestic / international Visa / Mastercard. The transaction fee is 3%, Kindmate collects help with Wepay payment
    gateway.
  </li>
</ul>
<p>Thus, all methods of support through Kindmate do not incur tips fees for supporters, expenses
  all fees are the usual in payment transactions.</p>
