<h2 class="mb-4 font-weight-bold">Chi phí</h2>
<h5 class="mt-2 mb-3 font-weight-semibold">Chi phí với chủ chiến dịch</h5>
<p>Kindmate miễn phí khởi tạo và duy trì đối với tất cả chiến dịch, chỉ tính phí trên các dịch vụ hỗ trợ chuyên
  sâu và các yêu cầu đặc biệt của chủ chiến dịch.</p>
<p>Hoạt động của Kindmate đang được duy trì dựa trên sự đóng góp tự nguyện của những người ủng hộ.</p>
<h5 class="mt-2 mb-3 font-weight-semibold">Chi phí ủng hộ</h5>
<p>Khi sử dụng Kindmate để gây quỹ, người ủng hộ gửi tiền ủng hộ qua 1 trong 3 phương thức: (1) Chuyển khoản ngân
  hàng, (2) COD (3) Visa/ Master Card với chi phí như sau:</p>
<ul>
  <li>Chuyển khoản ngân hàng: Kindmate không thu phí của người ủng hộ, chi phí giao dịch ngân hàng tự trừ tùy theo
    loại ngân hàng.
  </li>
  <li>COD: Người ủng hộ nhập địa chỉ, nhân viên giao hàng tới đưa hóa đơn và thu tiền tại nhà. Bên giao hàng lấy
    phí thu tiền là 15.000VND/ lượt ủng hộ.
  </li>
  <li>Visa/Master Card: Người ủng hộ được chuyển sang cổng thanh toán điện tử Wepay, phù hợp với giao dịch thẻ
    Visa/ Mastercard nội địa/quốc tế. Phí giao dịch là 3%, Kindmate thu giúp cổng thanh toán Wepay.
  </li>
</ul>
<p>Như vậy, tất cả các phương thức ủng hộ qua Kindmate đều không phát sinh phí tips đối với người ủng hộ, các chi
  phí phải trả đều là các phí thông thường trong giao dịch thanh toán.</p>
