<h2 class="mb-4 font-weight-bold">Terms of Use</h2>
<h5 class="mb-2 mt-3 font-weight-semibold">Wake It Up Vietnam Technology Joint Stock Company</h5>
<p>The following terms of use apply to the use of the fund-building website Kindmate (below)
  called Kindmate), provided by Wake It Up Vietnam Technology Joint Stock Company (hereinafter referred to as Wake It
  Up). Equal
  By registering for an account and publishing a fundraising page, the user agrees to these terms, along with
  Wake It Up privacy policy for this service.</p>
<h5 class="mb-2 mt-3 font-weight-semibold">Kindmate is a tool</h5>
<p>Kindmate is an online software tool that helps individuals and organizations build websites for triggers
  his funds. Kindmate does not represent the beneficiary opponent or campaign owner. Campaign owner is full
  ownership of contents on the website and funds raised. Participants are responsible for
  decide your support and accept the risks of the project they support.</p>
<h5 class="mb-2 mt-3 font-weight-semibold">Target users</h5>
<p>Kindmate users and contributors must be over 18 years old and Vietnamese citizens. Kindmate reserves the right to
  refuse
  provide services to individuals and organizations based on Kindmate's internal evaluation criteria.</p>
<h5 class="mb-2 mt-3 font-weight-semibold">Fundraising contents</h5>
<p>Campaign owners are not allowed to create campaigns to raise funds for the activities or use of rewards
  Vietnamese law, harm the community, or violate the moral standards of Kindmate.</p>
<p>Wake It Up may reject "impossible" fundraising campaigns - campaigns deemed impossible
  fulfill the committed commitments. Campaign owners also need to ensure that their products / services / activities
  pledged in the campaign to be lawful and to comply with the relevant laws (for example, paying personal income tax)
  multiplier, VAT ...).</p>
<p>Prohibited contents: (1) Using violent, threatening, harassing language (2) infringing intellectual property rights,
  copyrights
  (3) Slanderous or deceptive contents</p>
<h5 class="mb-2 mt-3 font-weight-semibold">Unused images</h5>
<p>Campaign owners may not use the following images in their campaign</p>
<p>- Images of copyright infringement</p>
<p>- Images of pornography, incite violence, violate privacy, children's rights</p>
<p>- Kindmate and Wake It Up Logo</p>
<p>- Logos of trademarks without the consent of the owner.</p>
<h5 class="mb-2 mt-3 font-weight-semibold">Boundary responsibility between Campaign Owner, Third Parties,
  Supporters</h5>
<p>The campaign owner is responsible before the law for the fulfillment of all commitments and promises to
  Supporter. Wake It Up recognizes that only one individual or an organization has a legal entity as the Campaign
  Owner.</p>
<p>In case the commitment is not met, if the donation has been transferred to the campaign owner, responsibility
  return to Supporters who belong to the Campaign Owner.</p>
<p>In the event of a dispute between Supporter and Campaign Owner, Wake It Up will provide information of
  the two parties and the related data for the two sides to negotiate, or make evidence before the law.</p>
<h5 class="mb-2 mt-3 font-weight-semibold">User account</h5>
<p>All information attached to a Kindmate User Account must be true. User approved
  receive permission to Kindmate make requests to verify user identity and information.</p>
<h5 class="mb-2 mt-3 font-weight-semibold">Campaign owner</h5>
<p>The campaign owner has the right to propose Gifts for Backers. The campaign owner is obliged by the law
  fulfilling commitments made with backers (including spending money for the right purpose and sending full Gifts
  donate). The campaign owner also needs to inform his / her own policy of refunding supporters
  when commitments cannot be fulfilled.</p>
<p>The campaign owner is obliged to answer supporters' questions, update the status of his project.</p>
<h5 class="mb-2 mt-3 font-weight-semibold">Supporters</h5>
<p>Supporters are responsible for asking questions, investigating and investigating the project before giving support.
  All donations Households are voluntary by the supporters' will and ability to accept risks. Wake It Up does not
  guarantee battle The translation will succeed or the money will be spent for the right purpose.</p>
<p>Backers have the right to withdraw the donation in case the money hasn't been transferred to the Campaign Owner.
  In other cases, the refund is the responsibility of the Campaign Owner, subject to the commitment made.</p>
<h5 class="mb-2 mt-3 font-weight-semibold">Service fee</h5>
<p>Creating a campaign with the Kindmate tool is free. Wake It Up will charge a processing fee for all items
  Successful donation according to the updated quotes on the website.</p>
<h5 class="mb-2 mt-3 font-weight-semibold">Taxes</h5>
<p>The campaign owner is solely responsible to the law for the fulfillment of tax obligations. These obligations are
  possible Depending on the type of activity (humanitarian or commercial), gifts given (gifts may be taxable or not)
  or the type of entity that owns the campaign (individual or organization).</p>
<p>The owner of the campaign is obliged to provide information about the Individual Tax Code, or Tax Code of the
  organization and all beneficiaries (beneficiaries), to Wake It Up to report to the authorities.</p>
<p>Wake It Up will provide documents and invoices to related parties in case the parties need tax declaration.</p>
<h5 class="mb-2 mt-3 font-weight-semibold">Long-term fundraising</h5>
<p>A campaign has the right to an extended fundraising program after goal completion or expiration
  fundraising deadline if Wake It Up standards are met. In this case, Wake It Up will disburse accordingly
  4 week cycle for the project.</p>
<p>Wake It Up reserves the right to terminate the campaign in case the Project Owner is unable to fulfill his / her
  commitment or the campaign has been inactive for 3 consecutive months,</p>
<h5 class="mb-2 mt-3 font-weight-semibold">Payment services</h5>
<p>Fundraising page created by Kindmate is integrated with Ngan Luong, Wepay and Momo payment gateways. Campaign owner
  and Supporters of these payment gateways agree with the policies of each payment gateway.</p>
<h5 class="mb-2 mt-3 font-weight-semibold">Working with the government</h5>
<p>We will cooperate with the authorities as required by law. We will also cooperate with the cashew authority
  Check for fraud or other Terms of Use violations.</p>
