<h2 class="mb-4 font-weight-bold">Điều khoản sử dụng</h2>
<h5 class="mb-2 mt-3 font-weight-semibold">Công ty cổ phần công nghệ Wake It Up Việt Nam</h5>
<p>Các điều khoản sử dụng dưới đây được áp dụng cho việc sử dụng dịch vụ tạo trang web gây quỹ Kindmate (sau đây
  gọi là Kindmate) do công ty cổ phần công nghệ Wake It Up Việt Nam (sau đây gọi là Wake It Up) cung cấp. Bằng
  việc đăng ký tạo tài khoản và xuất bản trang gây quỹ, người sử dụng đồng ý với các điều khoản này, cùng với
  chính sách bảo mật của Wake It Up đối với dịch vụ này.</p>
<h5 class="mb-2 mt-3 font-weight-semibold">Kindmate là một công cụ</h5>
<p>Kindmate là một công cụ phần mềm trực tuyến giúp cho các cá nhân, tổ chức xây dựng website cho hoạt động gây
  quỹ của mình. Kindmate không đại diện cho đối tướng hưởng lợi hay chủ chiến dịch. Chủ chiến dịch có toàn
  quyền sở hữu đối với nội dung trên website và số tiền gây quỹ được. Người tham gia chịu trách nhiệm đối với
  quyết định ủng hộ của mình và chấp nhận với các rủi ro của dự án mà họ ủng hộ.</p>
<h5 class="mb-2 mt-3 font-weight-semibold">Đối tượng sử dụng</h5>
<p>Người sử dụng Kindmate và đóng góp phải trên 18 tuổi và là công dân Việt Nam. Kindmate bảo lưu quyền từ chối
  cung cấp dịch vụ cho các cá nhân, tổ chức dựa trên các tiêu chí đánh giá nội bộ của Kindmate.</p>
<h5 class="mb-2 mt-3 font-weight-semibold">Nội dung gây quỹ</h5>
<p>Chủ chiến dịch không được phép tạo các chiến dịch gây quỹ cho các hoạt động hoặc sử dụng các phần thưởng trái
  pháp luật Việt Nam, gây hại tới cộng đồng, hoặc vi phạm các tiêu chuẩn đạo đức của Kindmate.</p>
<p>Wake It Up có thể sẽ từ chối các chiến dịch gây quỹ “bất khả thi” – các chiến dịch được đánh giá là không thể
  thực hiện được cam kết đã đề ra. Chủ chiến dịch cũng cần đảm bảo rằng các sản phẩm/dịch vụ/hoạt động mà họ
  đã cam kết trong chiến dịch là hợp pháp và tuân thủ các điều luật liên quan (ví dụ đóng thuế thu nhập cá
  nhân, thuế VAT …).</p>
<p>Các nội dung bị cấm: (1) Sử dụng ngôn ngữ bạo lực, đe dọa, quấy rối (2) xâm phạm quyền sở hữu trí tuệ, bản quyền
  (3) Các nội dung có tính chất vu khống, lừa đảo</p>
<h5 class="mb-2 mt-3 font-weight-semibold">Hình ảnh không được sử dụng</h5>
<p>Chủ chiến dịch không được sử dụng các hình ảnh sau trong chiến dịch của mình</p>
<p>- Hình ảnh vi phạm bản quyền</p>
<p>- Hình ảnh có tính chất khiêu dâm, kích động bạo lực, vi phạm đời tư, quyền trẻ em</p>
<p>- Logo của Kindmate và Wake It Up</p>
<p>- Logo của các thương hiệu mà chưa được sự đồng ý của chủ sở hữu.</p>
<h5 class="mb-2 mt-3 font-weight-semibold">Trách nhiệm ràng buộc giữa Chủ chiến dịch, Các bên thứ ba, Người ủng hộ</h5>
<p>Chủ chiến dịch là người chịu trách nhiệm trước pháp luật về việc thực hiện tất cả các cam kết, hứa hẹn đối với
  Người ủng hộ. Wake It Up chỉ thừa nhận duy nhất 1 cá nhân hoặc 1 tổ chức có pháp nhân là Chủ chiến dịch.</p>
<p>Trong trường hợp không đạt được cam kết, nếu khoản tiền ủng hộ đã được chuyển cho chủ chiến dịch, trách nhiệm
  hoàn trả cho Người ủng hộ thuộc về Chủ chiến dịch.</p>
<p>Trong trường hợp xảy ra tranh chấp giữa Người ủng hộ và Chủ chiến dịch, Wake It Up sẽ cung cấp thông tin của
  hai bên và những dữ liệu liên quan để hai bên thương lượng, hoặc làm bằng chứng trước cơ quan pháp luật.</p>
<h5 class="mb-2 mt-3 font-weight-semibold">Tài khoản sử dụng</h5>
<p>Tất cả các thông tin gắn liền với một Tài khoản sử dụng trên Kindmate phải là đúng sự thật. Người sử dụng chấp
  nhận cho phép Kindmate đưa ra các yêu cầu để xác minh danh tính và thông tin của người sử dụng.</p>
<h5 class="mb-2 mt-3 font-weight-semibold">Chủ chiến dịch</h5>
<p>Chủ chiến dịch được quyền đề nghị các Quà tặng cho Người ủng hộ. Chủ chiến dịch có nghĩa vụ trước pháp luật về
  thực hiện các cam kết đã đưa ra với người ủng hộ (bao gồm việc tiêu tiền đúng mục đích và gửi đầy đủ Quà
  tặng). Chủ chiến dịch cũng cần thông báo về chính sách riêng của mình về việc hoàn tiền cho người ủng hộ
  khi không thể thực hiện được cam kết.</p>
<p>Chủ chiến dịch có nghĩa vụ trả lời các câu hỏi của người ủng hộ, cập nhật tình trạng của dự án của mình.</p>
<h5 class="mb-2 mt-3 font-weight-semibold">Người ủng hộ</h5>
<p>Người ủng hộ chịu trách nhiệm đặt câu hỏi, tìm hiểu và điều tra về dự án trước khi ủng hộ. Tất cả các khoản ủng
  hộ đều là tự nguyện bởi ý chí và khả năng chấp nhận rủi ro của người ủng hộ. Wake It Up không đảm bảo chiến
  dịch sẽ thành công hay số tiền sẽ được tiêu đúng mục đích.</p>
<p>Người ủng hộ có quyền rút lại khoản quyên góp trong trường hợp số tiền chưa được chuyển tới cho Chủ chiến dịch.
  Trong trường hợp khác, việc hoàn trả thuộc về trách nhiệm của Chủ chiến dịch, tùy theo cam kết đã đưa ra.</p>
<h5 class="mb-2 mt-3 font-weight-semibold">Phí dịch vụ</h5>
<p>Việc khởi tạo chiến dịch với công cụ Kindmate là miễn phí. Wake It Up sẽ thu phí xử lý giao dịch cho tất cả khoản
  quyên góp thành công theo báo giá được cập nhật trên website.</p>
<h5 class="mb-2 mt-3 font-weight-semibold">Thuế</h5>
<p>Chủ chiến dịch tự chịu trách nhiệm trước pháp luật về việc thực hiện các nghĩa vụ thuế. Các nghĩa vụ này có thể
  phụ thuộc vào loại hoạt động (nhân đạo hay thương mại), quà tặng đưa ra (quà tặng có thể chịu thuế hoặc không)
  hoặc loại pháp nhân sở hữu chiến dịch (cá nhân hay tổ chức).</p>
<p>Chủ chiến dịch có nghĩa vụ cung cấp thông tin về Mã số thuế cá nhân, hoặc Mã số thuế của tổ chức và tất cả các
  bên hưởng lợi (người nhận tiền), để Wake It Up báo cáo đối với nhà chức trách.</p>
<p>Wake It Up sẽ cung cấp hóa đơn chứng từ cho các bên liên quan trong trường hợp các bên cần khai báo thuế.</p>
<h5 class="mb-2 mt-3 font-weight-semibold">Gây quỹ dài hạn</h5>
<p>Một chiến dịch có quyền thực hiện một chương trình gây quỹ kéo dài sau khi hoàn thành mục tiêu hoặc hết thời
  hạn gây quỹ nếu đạt được các tiêu chuẩn của Wake It Up. Trong trường hợp này, Wake It Up sẽ giải ngân theo
  chu kỳ 4 tuần đối với dự án.</p>
<p>Wake It Up có quyền kết thúc chiến dịch trong trường hợp Chủ dự án không thể thực hiện được cam kết đưa ra hoặc
  chiến dịch không có hoạt động trong vòng 3 tháng liên tục,</p>
<h5 class="mb-2 mt-3 font-weight-semibold">Dịch vụ thanh toán</h5>
<p>Trang gây quỹ tạo bởi Kindmate được tích hợp với cổng thanh toán của Ngân lượng, Wepay và Momo. Chủ chiến dịch
  và Người ủng hộ sử dụng các cổng thanh toán này đồng ý với các chính sách của từng cổng thanh toán.</p>
<h5 class="mb-2 mt-3 font-weight-semibold">Hợp tác với chính quyền</h5>
<p>Chúng tôi sẽ hợp tác với các cơ quan chức năng theo yêu cầu của luật. Chúng tôi cũng sẽ hợp tác với cơ quan điều
  tra trong trường hợp có các nghi vấn lừa đảo hay các vi phạm về Điều khoản sử dụng khác.</p>
