.card-comment {
  padding: 0.5rem 1.5rem;
  margin: 1.25rem 0;
  align-items: center;

  .gravatar {
    width: 45px;
  }

  .media-body {
    position: relative;
    padding: 0.75rem 1.25rem;
    border-radius: calc(#{$border-radius} * 6);
    background-color: $gray-100;

    .edit_comment {
      margin-top: 15px;
    }

    .comment-content {
      margin-top: 15px;

      p {
        max-width: 100%;
        word-break: break-all;
        margin-right: 35px;
      }
    }

    .card-dropdown {
      position: absolute;
      top: 6px;
      right: 6px;

      .btn {
        border-radius: 50%;
        width: 35px;
        height: 35px;
        font-size: .8em;
      }
    }
  }
}
