<p><%= t ".hello", to: @resource.email %></p>
<p><%= t ".reset_pass_desc" %></p>
<p><%= link_to t(".reset_pass_text"), edit_password_reset_url(reset_password_token: @token) %></p>
<%= t ".notice_html" %>
